.DS_Store

rms/application/cache/*
!rms/application/cache/index.html

rms/application/logs/*
!rms/application/logs/index.html

!rms/application/*/.htaccess

composer.lock
tests/mocks/database/ci_test.sqlite

rms/user_guide_src/build/*
rms/user_guide_src/cilexer/build/*
rms/user_guide_src/cilexer/dist/*
rms/user_guide_src/cilexer/pycilexer.egg-info/*
rms//vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
