body{
  line-height: 1.9em;
}
section {
    position: relative;
    width: 100% !important;
    height: 100vh;
    overflow: hidden;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: #11123e;
  }
article{
  width: 100%;
  }
  article p{
    font-size: 18px;
  }
  section h1 {
    color: #FFF;
    font-size: 50px;
    font-weight: bold;
    line-height: 64px;
    margin-bottom: 14px;
  }
  
  section h1::after {
    width: 100px;
    height: 5px;
    margin: 20px 0;
    background-color: #ffc539;
    content: "";
    display: table;
    position: relative;
  }

  section h1.text-center::after{
    margin: 20px auto;
  }
  a{
    color: #FFF;
  }
  a:hover{
    color: #FFF;
    text-decoration: underline;
  }

  
  .page-1 > div:nth-of-type(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(images/bg3.jpg) no-repeat fixed;
    background-size: cover;
  }

  .page-2 > div:nth-of-type(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url(images/komodity.jpg) no-repeat fixed;
    background-size: cover;
  }

  .article{
    position: relative;
    z-index: 99;
  }
  .article h2{
    color: #FFF;
    font-size: 30px;
    font-weight: 300;
  }

  article h3{
    font-size: 18px;
  }

  @media (max-width: 576px) {
    .logo{
      width: 80%;
    }
    section h1 {
      font-size: 30px;
      text-align: center;
    }
    section{
      height: auto;
      padding: 50px 0;
      background-size: cover;
    }

    .article h2{
      font-size: 18px;
    }
    .mt-5{
      margin-top: 1rem !important;
    }
    .page-2 > div:nth-of-type(1){
      height: 100%;
    }
    .col{
      margin-top: 20px;
    }
  }

  .navbar{
    background-color: transparent;
    position: fixed;
    width: 100%;
  }

  .navbar ul li{
    margin: 0 10px;
  }

  .navbar ul li a.active{
    font-weight: 500;
  }
  .navbar ul li a{
    font-size: 20px;
    padding: 10px 10px;
    font-weight: 300;
  }

  .navbar .show{
    background-color: rgba(0, 0, 0, 0.7);
  }